<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>test3-mobile.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>B62E1BC0EA31EAAFE0B437F437FE177FF83E2FA0</string>
				<key>dateExpires</key>
				<string>2019/12/21</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>LYLKQ6MZK2.com.gugu.aember</string>
				<key>com.apple.developer.team-identifier</key>
				<string>LYLKQ6MZK2</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>LYLKQ6MZK2.com.gugu.aember</string>
				</array>
			</dict>
			<key>name</key>
			<string>test3-mobile.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>0d61a74f-daa7-45d5-990f-c12879922222</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>LYLKQ6MZK2</string>
				<key>name</key>
				<string>TianYu Zhang</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
